@using Pruebas.Cliente.Utilidades
@model ResponseViewModel<TblProducto>;

<h1>Lista de Productos</h1>
<br />

<form asp-action="Index" method="get">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="lblNombreProducto">Nombre del Producto:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" id="txtNombreProducto" name="nombreProducto" class="form-control" placeholder="Nombre de Producto" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button class="btn btn-primary" id="btnBuscarProducto">Buscar</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-control" type="text" id="searchInput" placeholder="Ingrese término de búsqueda" />
            </div>
        </div>

    </div>

</form>

<a asp-controller="Producto" asp-action="AgregarProducto" class="btn btn-primary">Agregar Producto</a>

<br />


<table id="resultsTable" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>Precio</th>
            <th>cantidad</th>
            <th>Fecha Creacion</th>
            <th>Activo</th>
            <td>Actualizar</td>
            <td>Eliminar</td>
            <!-- Agrega más columnas según las propiedades de TblProducto -->
        </tr>
    </thead>
    <tbody id="userData">
        @foreach (var producto in Model.DataList)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Nombre</td>
                <td>@producto.Detalle</td>
                <td>@producto.Precio</td>
                <td>@producto.Cantidad</td>
                <td>@producto.FechaCreacionDateOnly.ToShortDateString()</td>
                <td>@producto.Activo</td>
                <td>
                    <a asp-controller="producto" asp-action="EditarProducto" asp-route-id="@producto.IdProducto">Actualizar</a>
                </td>
                <td>
                    <a asp-controller="producto" asp-action="EliminarProducto" asp-route-id="@producto.IdProducto">Eliminar</a>
                </td>
                <!-- Agrega más columnas según las propiedades de TblUsuario -->
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.DataList.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" href="?pageNumber=@(Model.DataList.PageIndex - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.DataList.TotalPages; i++)
        {
            <li class="page-item @(i == Model.DataList.PageIndex ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.DataList.HasNextPage ? "" : "disabled")">
            <a class="page-link" href="?pageNumber=@(Model.DataList.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>


@section Scripts {
    <script>

        $(document).ready(function () {

            document.getElementById('searchInput').addEventListener('input', function () {
                var searchTerm = this.value.toLowerCase();
                var table = document.getElementById('resultsTable');
                var rows = table.getElementsByTagName('tr');

                for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
                    var cells = rows[i].getElementsByTagName('td');
                    var found = false;

                    for (var j = 0; j < cells.length; j++) {
                        if (cells[j].textContent.toLowerCase().includes(searchTerm)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        rows[i].style.display = '';
                    } else {
                        rows[i].style.display = 'none';
                    }
                }
            });

        });

    </script>
}
