@model TblUsuario

<script src="~/js/General.js"></script>

<h1>Eliminar Usuario</h1>

<form method="post" action="/Usuario/EliminarUsuario">

    <div class="form-group row">
        <input type="hidden" id="IdUsuario" name="IdUsuario" value="@ViewBag.IdUsuario" />
    </div>

    <div class="form-row">

        <div class="form-group col-md-3">
            <label for="lblNombre">Nombre:</label>
            <input type="text" class="form-control" id="txtNombre" name="Nombre" value="@Model.Nombre" readonly />
        </div>
        <div class="form-group col-md-3">
            <label for="lblApellidoPaterno"> Apellido Paterno:</label>
            <input type="text" class="form-control" id="txtApellidoPaterno" name="ApellidoPaterno" value="@Model.ApellidoPaterno" readonly />
        </div>
        <div class="form-group col-md-3">
            <label for="lblApellidoMaterno">Apellido Materno:</label>
            <input type="text" class="form-control" id="txtApellidoMaterno" name="ApellidoMaterno" value="@Model.ApellidoMaterno" readonly />
        </div>
        <div class="form-group col-md-3">
            <label for="lblIdentificacion">Identificacion:</label>
            <input type="number" class="form-control" id="txtIdentificacion" name="Identificacion" value="@Model.Identificacion" readonly />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="lblCargo">Cargo:</label>
            <input type="text" class="form-control" id="txtCargo" name="Cargo" value="@Model.Cargo" readonly />
        </div>

        <div class="form-group col-md-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="chkBoxActivo" name="Activo" @(Model.Activo ? "checked" : "") value="true" />
                <label class="form-check-label" for="chkBoxActivo">Activo</label>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="lblFechaCreacion">Fecha Creacion:</label>
            <input type="text" class="form-control" id="txtFechaCreacion" name="FechaCreacion" value="@Model.FechaCreacion" readonly />
        </div>
    </div>

    <br />


    <div class="form-group">
        <div class="alert alert-success" id="successMensaje" style="display:none"></div>
    </div>

    <div class="form-group">
        <div class="alert alert-danger" id="errorMensaje" style="display:none"></div>
    </div>


    <br />

    <button type="button" class="btn btn-primary" onclick="mostrarModal()">Eliminar Usuario</button>
</form>

<!-- Modal de confirmación -->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalMensaje">
                <!-- Aquí se mostrará el mensaje de confirmación -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ocultarModalConfirmacion()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmBtn">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="alert alert-success" id="successMensaje" style="display:none"></div>
</div>

<div class="form-group">
    <div class="alert alert-danger" id="errorMensaje" style="display:none"></div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            $('#txtFechaCreacion').datepicker({
                dateFormat: 'dd-mm-yy',
                autoclose: true
            });
        });


        function mostrarModal() {
            mostrarModalConfirmacion("¿Estás seguro de que deseas continuar?", function () {

                var idUsuario = $('#IdUsuario').val();

                var data = {
                    idUsuario: idUsuario,
                };

                $.ajax({
                    url: '/Usuario/EliminarUsuarioConfirm',
                    method: 'POST',
                    data: data,
                    success: function (response) {

                        //var responseData = JSON.parse(response);
                        var successDiv = document.getElementById('successMensaje');
                        var errorDiv = document.getElementById('errorMensaje');

                        if (response.success) {
                            successDiv.textContent = response.message;
                            successDiv.style.display = 'block';
                        } else {
                            errorDiv.textContent = response.message;
                            errorDiv.style.display = 'block';
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });

        }
       
       
    </script>
}
