@using Pruebas.Cliente.Utilidades
@model ResponseViewModel<TblUsuario>;

<h1>Lista de usuarios</h1>

<form asp-action="Index" method="get">

    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label for="lblNombreUsuario">Nombre del Usuario:</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" id="txtNombreUsuario" name="nombreUsuario" class="form-control" placeholder="Nombre de Usuario" value="@ViewBag.Busqueda" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button class="btn btn-primary" id="btnBuscarUsuario">Buscar</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input class="form-control" type="text" id="searchInput" placeholder="Ingrese término de búsqueda" />
            </div>
        </div>
    </div>
</form>

<br />
<br />

<a asp-controller="Usuario" asp-action="AgregarUsuario" class="btn btn-primary">Agregar Usuario</a>

<br />
<br />

<div class="row">
    <!-- Formulario para exportar a Excel -->
    <form asp-action="ExportarTabla" method="get" class="col-md-2">
        <div class="form-group">
            <button id="exportarBtn" class="btn btn-primary" onclick="ExportarExcel()">Exportar a Excel</button>
        </div>
    </form>

    <!-- Formulario para importar Excel -->
    <form id="importForm" enctype="multipart/form-data" class="col-md-5">
        <div class="form-group d-flex align-items-center">
            <button class="btn btn-primary mr-3" type="submit">Importar Excel</button>
            <div class="form-group">
                <input type="file" class="form-control" id="fileInput" name="fileInput" accept=".xlsx, .xls" />
            </div>
        </div>
    </form>
</div>


<div id="usuariosTable">    
    @Html.Partial("usuariosPartialView", Model)
</div>

<br />


@if (Model.Message != null)
{
    <div class="form-group">
        <div class="alert alert-success" id="successMensaje">@Model.Message</div>
    </div>
}
else if (Model.Error.Message != null)
{
    <div class="form-group">
        <div class="alert alert-danger" id="errorMensaje">@Model.Error.Message</div>
    </div>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.DataList.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" href="?pageNumber=@(Model.DataList.PageIndex - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.DataList.TotalPages; i++)
        {
            <li class="page-item @(i == Model.DataList.PageIndex ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.DataList.HasNextPage ? "" : "disabled")">
            <a class="page-link" href="?pageNumber=@(Model.DataList.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#importForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("ImportarExcel", "Usuario")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        // Verificar si la respuesta contiene la lista de usuarios
                        // if (response.dataList.length > 0) {
                        //     // Limpiar la tabla actual
                        //     $('#userData').empty();

                        //     $.each(response.dataList, function (index, usuario) {
                        //         var row = '<tr>' +
                        //             '<td>' + usuario.idUsuario + '</td>' +
                        //             '<td>' + usuario.nombre + '</td>' +
                        //             '<td>' + usuario.apellidoPaterno + '</td>' +
                        //             '<td>' + usuario.apellidoMaterno + '</td>' +
                        //             '<td>' + usuario.identificacion + '</td>' +
                        //             '<td>' + usuario.cargo + '</td>' +
                        //             '<td>' + (usuario.activo ? 'Sí' : 'No') + '</td>' +
                        //             '<td>' + new Date(usuario.fechaCreacion).toLocaleDateString() + '</td>' +
                        //             '<td><a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-id="' + usuario.idUsuario + '">Actualizar</a></td>' +
                        //             '<td><a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-id="' + usuario.idUsuario + '">Eliminar</a></td>' +
                        //             '</tr>';
                        //         $('#userData').append(row);
                        //     });                            
                        // }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });

        document.getElementById('searchInput').addEventListener('input', function () {
            var searchTerm = this.value.toLowerCase();
            var table = document.getElementById('resultsTable');
            var rows = table.getElementsByTagName('tr');

            for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
                var cells = rows[i].getElementsByTagName('td');
                var found = false;

                for (var j = 0; j < cells.length; j++) {
                    if (cells[j].textContent.toLowerCase().includes(searchTerm)) {
                        found = true;
                        break;
                    }
                }

                if (found) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });

        document.getElementById('exportarBtn').addEventListener('click', function (event) {
            event.preventDefault();
            var nombreUsuario = document.getElementById('txtNombreUsuario').value;
            var url = '@Url.Action("ExportarExcel", "Usuario")' + '?nombreUsuario=' + nombreUsuario;
            window.location.href = url;
        });


    </script>
}